
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.7em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}



@media (min-width: 768px) {}
@media (min-width: 1280px) {}