<footer>
  <p>Copyright © <%= new Date().getFullYear() %>
  </p>
</footer>
<script>

  $('.down-btn').on("click", (e) => {

    const id = e.target.value;

    if ($(e.target).hasClass('active')) {
      $(e.target).removeClass('active');
      $('#' + id).removeClass('visible');
      $('#' + id + '-arrow').removeClass('active');

    } else {
      $(e.target).addClass('active');
      $('#' + id).addClass('visible');
      $('#' + id + '-arrow').addClass('active');
    }

  })
</script>
</body>

</html> 