
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.8em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

.search-div {
  text-align: center;
  padding-top: 1em;
}

#location {
  font-size: 1.2em;
  width: 90%;
  height: 3.5em;
  padding: 1em;
  border: none;
  border-radius: .3em;
  background-color: lightgray;
}

#location:focus {
  outline: none;
}

#loc-submit {
  display: none;
}

/* Nav Buttons */

.id-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
  background-color: darkgrey;
  padding: .7em;
}

.id-container > form > button {
  padding: .7em;
}


/* Main */

main {
  padding: 1em;
  padding-top: 1.5em;
}

.loc-header > h1 {
  font-size: 1.4em;
  line-height: 1em;
  margin: 0;
}

.top-info {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

.top-info > h1 {
  font-size: 5em;
  padding: 0;
  margin: 0;
}

.inner-top {
  padding-top: 1.2em;
}

.inner-top > h3, .inner-top > p {
  margin: 0;
}

.inner-top > h3 {
  line-height: 1.1em;
}

.inner-top > p {
  font-size: .7em;
  margin-top: 1em;
}

.bottom-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(206, 206, 206);
  padding-left: .5em;
  padding-right: .5em; 
}

.info-line > p {
  margin: 0;
}

/* Hourly Page */

.hour-main {
  padding: 0;
}

.hourly-header {
  padding: 1.5em 1em 0em 1em;
}

.days-box {
  margin-top: 1.5em;
}

.hours-box {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.hour-line {
  font-size: .9em;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.2em;
  padding: .8em 1em .8em 1em;
}

.hour-line > p {
  margin: 0;
  width: 3em;
}

.hour-cond {
  font-size: .8em;
  line-height: 1.1em;
  display: none;
}

.hour-icon {
  width: 3em;
}

.hourly-day-container {

}

.hourly-day, .hourly-date {
  font-size: 1.2em;
  margin: 0 .6em 0 .6em;
}

.invisibox {
  display: none;
}



@media (min-width: 768px) {}
@media (min-width: 1280px) {}