
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.8em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

.search-div {
  text-align: center;
  padding-top: 1em;
}

#location {
  font-size: 1.2em;
  width: 90%;
  height: 3.5em;
  padding: 1em;
  border: none;
  border-radius: .3em;
  background-color: lightgray;
}

#location:focus {
  outline: none;
}

#loc-submit {
  display: none;
}

@media (min-width: 768px) {}
@media (min-width: 1280px) {}